.container.main-container
  %p#notice
  .row
    / 左側 上
    .col-xs-3
      %h2 User info
      = render 'info', user: @user,now: ''
      / 左側 下
      %h2 New book
      = render 'books/create_book_form', book: @book
    / 右側
    .col-xs-9.container
      = render 'books/books', books: @books
  / 下（MAP)
  - if @user == current_user
    .row.map-field
      .col-xs-12
        %h2 Your Map
        %p.adress
          住所： 〒#{@user.postal_code} 
          - @user.prefecture_code
           #{@user.city} #{@user.street}
        %p
          - @user.address
        #map{:class => "#{@user.prefecture_code.to_s + @user.city + @user.street}"}
    %script{:sec => "javascripts/address_map.js"}
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp=#{ENV['GOOGLE_MAP_API_KEY']}=initMap"}
